<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        tday = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
        tmonth = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

        function GetClock() {
            var d = new Date();
            var nday = d.getDay(), nmonth = d.getMonth(), ndate = d.getDate(), nyear = d.getFullYear();
            var nhour = d.getHours(), nmin = d.getMinutes(), nsec = d.getSeconds(), ap;

            if (nhour === 0) {
                ap = " AM";
                nhour = 12;
            }
            else if (nhour < 12) {
                ap = " AM";
            }
            else if (nhour === 12) {
                ap = " PM";
            }
            else if (nhour > 12) {
                ap = " PM";
                nhour -= 12;
            }

            if (nmin <= 9) nmin = "0" + nmin;
            if (nsec <= 9) nsec = "0" + nsec;

            document.getElementById('clockbox').innerHTML = "" + tday[nday] + ", " + tmonth[nmonth] + " " + ndate + ", " + nyear + " " + nhour + ":" + nmin + ":" + nsec + ap + "";
        }

        window.onload = function () {
            var getJSON = function (url, callback) {
                var xhr = new XMLHttpRequest();
                xhr.open('GET', url, true);
                xhr.responseType = 'json';
                xhr.onload = function () {
                    var status = xhr.status;
                    if (status === 200) {
                        callback(null, xhr.response);
                    } else {
                        callback(status, xhr.response);
                    }
                };
                xhr.send();
            };

            var dps = [];
            var chart = new CanvasJS.Chart("grafikSuhu", {
                exportEnabled: true,
                axisY: {
                    includeZero: false,
                    title: "Celcius"
                },
                data: [{
                    type: "splineArea",
                    markerSize: 0,
                    dataPoints: dps
                }]
            });
            var kps = [];
            var kchart = new CanvasJS.Chart("grafikKlb", {
                exportEnabled: true,
                axisY: {
                    includeZero: false,
                    title: "Persentase"
                },
                data: [{
                    type: "splineArea",
                    markerSize: 0,
                    dataPoints: kps
                }]
            });

            var statuss;
            var statusk;
            var suhu;
            var klb;
            var wkt;
            var updateInterval = 5000;
            var dataLength = 20; // number of dataPoints visible at any point

            var updateChart = function (count) {
                getJSON('https://imka-mms.herokuapp.com/last',
                        function (err, data) {
                            suhu = data["suhu"];
                            klb = data["kelembapan"];
                            wkt = data["waktu"]
                        });

                document.getElementById('suhuc').innerHTML = suhu + " Celcius";
                document.getElementById('klbp').innerHTML = klb + " %";

                getJSON('https://imka-mms.herokuapp.com/status',
                        function (err, data) {
                            statuss=data["suhu"]
                            statusk=data["kelembapan"]
                        });
                document.getElementById('ss').innerHTML = statuss;
                document.getElementById('sk').innerHTML = statusk;

                count = count || 1;
                // count is number of times loop runs to generate random dataPoints.
                for (var j = 0; j < count; j++) {
                    dps.push({
                        x: new Date(),
                        y: suhu
                    });
                    kps.push({
                        x: new Date(),
                        y: klb
                    });
                }
                if (dps.length > dataLength) {
                    dps.shift();
                }
                if (kps.length > dataLength) {
                    kps.shift();
                }
                chart.render();
                kchart.render();
            };

            GetClock();
            setInterval(GetClock, 1000);
            updateChart(dataLength);
            setInterval(function () {
                updateChart()
            }, updateInterval);

        }
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <style type="text/css" media="screen">
        <!--

        -->
    </style>
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">Dashboard</a>
        </div>
        <!-- /.navbar-header -->
        <ul class="nav navbar-top-links navbar-right">
            <div id="clockbox"></div>
        </ul>


        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav nav-pills nav-stacked" id="side-menu">
                    <li class="active"><a data-toggle="pill" href="#home">Home</a></li>
                    <li><a data-toggle="pill" href="#stok">Stok</a></li>
                    <li><a data-toggle="pill" href="#kondisi">Kondisi Gudang</a></li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>


        <!-- /.navbar-static-side -->
    </nav>
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <!--BOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <h3>HOME</h3>
                            </div>
                            <div id="stok" class="tab-pane fade">
                                <h3>Stok</h3>
                                <table border="1">
                                    <thead>
                                    <tr>
                                        <td>ID</td>
                                        <td>Nama</td>
                                        <td>Jenis</td>
                                        <td>Produsen</td>
                                        <td>Keterangan</td>
                                        <td>Jumlah</td>
                                        <td>Kadaluarsa</td>
                                        <td>Edit</td>
                                        <td>Delete</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{ range $key, $value := .values }}
                                    <tr>
                                        <td>{{ $key }}</td>
                                        <td> {{ $value.nama }} </td>
                                        <td> {{ $value.jenis }} </td>
                                        <td> {{ $value.produsen }} </td>
                                        <td> {{ $value.keterangan }} </td>
                                        <td> {{ $value.jumlah }} </td>
                                        <td> {{ $value.kadaluarsa }} </td>
                                        <td><a href="/masuk?id={{ $key }}">Edit</a></td>
                                        <td><a href="/delete?id={{ $key }}">Delete</a>
                                        <td>
                                    </tr>
                                    {{ end }}
                                    </tbody>
                                </table>
                                <a href="/baru">Buat baru</a>
                            </div>
                            <div id="kondisi" class="tab-pane fade">
                                <h3>Kondisi Gudang</h3>
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <i class="fa fa-bar-chart-o fa-fw"></i> SUHU

                                            </div>
                                            <!-- /.panel-heading -->
                                            <div class="panel-body">
                                                <div id="grafikSuhu" style="height: 200px; width:100%;"></div>
                                            </div>

                                            <!-- /.panel-body -->
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <i class="fa fa-bar-chart-o fa-fw"></i> KELEMBABAN

                                            </div>
                                            <!-- /.panel-heading -->
                                            <div class="panel-body">
                                                <div id="grafikKlb" style="height: 200px; width:100%;"></div>
                                            </div>

                                            <!-- /.panel-body -->
                                        </div>

                                    </div>
                                    <!-- /.col-lg-8 -->
                                    <div class="col-lg-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <i class="fa fa-bell fa-fw"></i> Kondisi Gudang
                                            </div>
                                            <!-- /.panel-heading -->
                                            <div class="panel-body">
                                                <div class="col-lg-12">Temperatur:
                                                    <div id="suhuc"></div>
                                                </div>
                                                <div class="col-lg-12">Kelembapan:
                                                    <div id="klbp"></div>
                                                </div>
                                            </div>
                                            <!-- /.panel-body -->
                                        </div>
                                        <!-- /.panel -->
                                        <!-- /.panel -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <i class="fa fa-bar-chart-o fa-fw"></i> Status
                                            </div>
                                            <!-- /.panel-heading -->
                                            <div class="panel-body">
                                                <div class="col-lg-12">Temperatur:
                                                    <div id="ss"></div>
                                                </div>
                                                <div class="col-lg-12">Kelembaban:
                                                    <div id="sk"></div>
                                                </div>
                                            </div>
                                            <!-- /.panel-body -->
                                        </div>
                                        <!-- /.panel -->


                                    </div>
                                    <!-- /.col-lg-4 -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!--BOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO -->

        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="../vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../vendor/metisMenu/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../dist/js/sb-admin-2.js"></script>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>

</html>
