<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        tday = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
        tmonth = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

        function GetClock() {
            var d = new Date();
            var nday = d.getDay(), nmonth = d.getMonth(), ndate = d.getDate(), nyear = d.getFullYear();
            var nhour = d.getHours(), nmin = d.getMinutes(), nsec = d.getSeconds(), ap;

            if (nhour === 0) {
                ap = " AM";
                nhour = 12;
            }
            else if (nhour < 12) {
                ap = " AM";
            }
            else if (nhour === 12) {
                ap = " PM";
            }
            else if (nhour > 12) {
                ap = " PM";
                nhour -= 12;
            }

            if (nmin <= 9) nmin = "0" + nmin;
            if (nsec <= 9) nsec = "0" + nsec;

            document.getElementById('clockbox').innerHTML = "" + tday[nday] + ", " + tmonth[nmonth] + " " + ndate + ", " + nyear + " " + nhour + ":" + nmin + ":" + nsec + ap + "";
        }

        var ds1=20;
        var ds2=30;
        var dk1=50;
        var dk2=65;

        window.onload = function () {
            function httpGetAsync(theUrl, callback) {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.onreadystatechange = function () {
                    if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                        callback(xmlHttp.responseText);
                }
                xmlHttp.open("GET", theUrl, true); // true for asynchronous
                xmlHttp.send(null);
            }
            var getJSON = function (url, callback) {
                var xhr = new XMLHttpRequest();
                xhr.open('GET', url, true);
                xhr.responseType = 'json';
                xhr.onload = function () {
                    var status = xhr.status;
                    if (status === 200) {
                        callback(null, xhr.response);
                    } else {
                        callback(status, xhr.response);
                    }
                };
                xhr.send();
            };

            var dps = [];
            var chart = new CanvasJS.Chart("grafikSuhu", {
                exportEnabled: true,
                axisY: {
                    interval:5,
                    maximum:ds2+10,
                    minimum:ds1-10,
                    includeZero: false,
                    title: "Celcius"
                },
                data: [{
                    type: "splineArea",
                    markerSize: 0,
                    dataPoints: dps
                }]
            });
            var kps = [];
            var kchart = new CanvasJS.Chart("grafikKlb", {
                exportEnabled: true,
                axisY: {
                    interval:5,
                    maximum:dk2+20,
                    minimum:dk1-10,
                    includeZero: false,
                    title: "Persentase"
                },
                data: [{
                    type: "splineArea",
                    markerSize: 0,
                    dataPoints: kps
                }]
            });
            var statuss;
            var statusk;
            var suhu;
            var klb;
            var wkt;
            var updateInterval = 5000;
            var dataLength = 20;

            var smin;
            var smax;
            var kmin;
            var kmax;
            var updateChart = function (count) {
                var i=document.getElementById("amount").value;
                smin=Number(i[0]+""+i[1]);
                smax=Number(i[5]+""+i[6]);
                var j=document.getElementById("amountk").value;
                kmin=Number(j[0]+""+j[1]);
                kmax=Number(j[5]+""+j[6]);
                var url="https://imka-mms.herokuapp.com/setmaxmin?s1="+smin+"&s2="+smax+"&k1="+kmin+"&k2="+kmax;
                chart.options.axisY.minimum=smin-10;
                chart.options.axisY.maximum=smax+10;
                kchart.options.axisY.minimum=kmin-20;
                kchart.options.axisY.maximum=kmax+20;
                httpGetAsync(url, function (err, data) {
                });
                getJSON('https://imka-mms.herokuapp.com/last',
                        function (err, data) {
                            suhu = data["suhu"];
                            klb = data["kelembapan"];
                            wkt = data["waktu"];
                        });

                document.getElementById('suhuc').innerHTML = suhu + " Celcius";
                document.getElementById('klbp').innerHTML = klb + " %";

                getJSON('https://imka-mms.herokuapp.com/status',
                        function (err, data) {
                            statuss=data["suhu"];
                            statusk=data["kelembapan"];
                        });
                document.getElementById('ss').innerHTML = statuss;
                document.getElementById('sk').innerHTML = statusk;

                count = count || 1;

                for (var k = 0; k < count; k++) {
                    dps.push({
                        x: new Date(),
                        y: suhu
                    });
                    kps.push({
                        x: new Date(),
                        y: klb
                    });
                }
                if (dps.length > dataLength) {
                    dps.shift();
                }
                if (kps.length > dataLength) {
                    kps.shift();
                }
                chart.render();
                kchart.render();
            };

            GetClock();
            setInterval(GetClock, 1000);
            updateChart(dataLength);
            setInterval(function () {
                updateChart()
            }, updateInterval);

            $(function () {
                $("#slider-range").slider({
                    orientation: "vertical",
                    range: true,
                    min:10,
                    max:40,
                    step:1,
                    values: [ds1, ds2],
                    slide: function (event, ui) {
                        $("#amount").val(ui.values[0] + " - " + ui.values[1] + " Celcius");
                    }
                });
                $("#amount").val($("#slider-range").slider("values", 0) +
                        " - " + $("#slider-range").slider("values", 1) + " Celcius");
            });
            $(function () {
                $("#sliderk-range").slider({
                    orientation: "vertical",
                    range: true,
                    min:20,
                    max:80,
                    step:1,
                    values: [dk1, dk2],
                    slide: function (event, ui) {
                        $("#amountk").val(ui.values[0] + " - " + ui.values[1] + " %");
                    }
                });
                $("#amountk").val($("#sliderk-range").slider("values", 0) +
                        " - " + $("#sliderk-range").slider("values", 1) + " %");
            });

        }


    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>


    <style type="text/css" media="screen">
        <!--

        -->
    </style>
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">


    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">


    <link href="../vendor/morrisjs/morris.css" rel="stylesheet">


    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script>

    </script>





</head>

<body>

<div id="wrapper">


    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">Dashboard</a>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <div id="clockbox"></div>
        </ul>


        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav nav-pills nav-stacked" id="side-menu">
                    <li class="active"><a data-toggle="pill" href="#home">Home</a></li>
                    <li><a data-toggle="pill" href="#stok">Stok</a></li>
                    <li><a data-toggle="pill" href="#kondisi">Kondisi Gudang</a></li>
                </ul>
            </div>

        </div>



    </nav>

    <div id="page-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <h3>HOME</h3>
                            </div>
                            <div id="stok" class="tab-pane fade">
                                <h3>Stok</h3>
                                <table border="1">
                                    <thead>
                                    <tr>
                                        <td>ID</td>
                                        <td>Nama</td>
                                        <td>Jenis</td>
                                        <td>Produsen</td>
                                        <td>Keterangan</td>
                                        <td>Jumlah</td>
                                        <td>Kadaluarsa</td>
                                        <td>Edit</td>
                                        <td>Delete</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{ range $key, $value := .values }}
                                    <tr>
                                        <td>{{ $key }}</td>
                                        <td> {{ $value.nama }} </td>
                                        <td> {{ $value.jenis }} </td>
                                        <td> {{ $value.produsen }} </td>
                                        <td> {{ $value.keterangan }} </td>
                                        <td> {{ $value.jumlah }} </td>
                                        <td> {{ $value.kadaluarsa }} </td>
                                        <td><a href="/masuk?id={{ $key }}">Edit</a></td>
                                        <td><a href="/delete?id={{ $key }}">Delete</a>
                                        <td>
                                    </tr>
                                    {{ end }}
                                    </tbody>
                                </table>
                                <a href="/baru">Buat baru</a>
                            </div>
                            <div id="kondisi" class="tab-pane fade">
                                <h3>Kondisi Gudang</h3>
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <i class="fa fa-bar-chart-o fa-fw"></i> SUHU

                                            </div>

                                            <div class="panel-body">
                                                <p>
                                                    <label for="amount">Batas Suhu:</label>
                                                    <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                                                </p>

                                                <div id="slider-range" style="height:160px;margin-bottom: -25%"></div>
                                                <div id="grafikSuhu" style="height: 200px; width:720px;margin-left: 5%;margin-top: 2%"></div>
                                            </div>


                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <i class="fa fa-bar-chart-o fa-fw"></i> KELEMBABAN

                                            </div>

                                            <div class="panel-body">
                                                <p>
                                                    <label for="amountk">Batas Kelembapan:</label>
                                                    <input type="text" id="amountk" readonly style="border:0; color:#f6931f; font-weight:bold;">
                                                </p>

                                                <div id="sliderk-range" style="height:160px;margin-bottom: -25%"></div>
                                                <div id="grafikKlb" style="height: 200px; width:720px;margin-left: 5%;margin-top: 2%"></div>
                                            </div>


                                        </div>

                                    </div>

                                    <div class="col-lg-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <i class="fa fa-bell fa-fw"></i> Kondisi Gudang
                                            </div>

                                            <div class="panel-body">
                                                <div class="col-lg-12">Temperatur:
                                                    <div id="suhuc"></div>
                                                </div>
                                                <div class="col-lg-12">Kelembapan:
                                                    <div id="klbp"></div>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <i class="fa fa-bar-chart-o fa-fw"></i> Status
                                            </div>

                                            <div class="panel-body">
                                                <div class="col-lg-12">Temperatur:
                                                    <div id="ss"></div>
                                                </div>
                                                <div class="col-lg-12">Kelembaban:
                                                    <div id="sk"></div>
                                                </div>
                                            </div>

                                        </div>



                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>

    </div>


</div>

<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>


<script src="../vendor/metisMenu/metisMenu.min.js"></script>


<script src="../dist/js/sb-admin-2.js"></script>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>

</html>
